# JetBrains IDEs (IntelliJ, WebStorm, etc.)
.idea/

# IntelliJ
out/

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# CMake
cmake-build-*/

# Custom
/*/*.txt
!/guide_making_utils/commit_checklist.txt
/Easter Egg Help/*
*.png
/venv/

.*
!.gitignore
!.gitattributes
easter_egg_help
!SEO_img.png
/node_modules
/dist
/guide_making_utils/
/old_solvers/
/backups/
/.eleventyignore
!.stylelintrc.json
