.kofi-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.kofi-button {
    background-color: var(--color-tier-1);
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: unset !important;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    transition: transform 0.2s ease;
}

.kofi-button:hover {
    transform: scale(1.01);
    color: white;
}

.kofi-img {
    height: 20px;
    margin-right: 8px;
}

@media (width <= 768px) {
    .kofi-container {
        top: 6px;
        right: 6px;
        left: unset;
    }

    .kofi-img {
        height: 10px;
        margin-right: 4px;
    }

    .kofi-button {
        font-size: 0;
    }
}