/*
===============================================================================
6. UTILITIES
===============================================================================
Helper classes and special cases.
*/

.solver-with-button {
    width: 100%;
    margin: var(--space-md);
}

.button-activated-div {
    max-width: 100%;
    margin: var(--space-md) var(--space-sm);
}
