body.solver-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2a2a2a;
    color: white;
}

.solver-container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px; /* Set the width to 100px */
}

.solver-symbol-select {
    margin: 10px;
}

.solver-symbol-select img {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

.solver-symbol-select img.selected {
    border-color: darkgreen;
}

.solver-symbol-select img.disabled {
    display: none;
    pointer-events: none;
}

.solver-output {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
}

.solver-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.solver-button:hover {
    background-color: #555;
}
